@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-bg-dark: #1C1B1B;
    --color-bg-darker: #2E2A32;
    --color-bg-purple: #4E3D63;
    --color-orange: #F07E24;
    --color-dark-orange: #C78428;
    --color-beige: #D3A673;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: var(--color-bg-dark);
    color: var(--color-beige);
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0 5px;
}

#header {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-darker);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.menu_left {
    font-size: 24px;
    color: var(--color-orange);
}

.menu_right {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: var(--color-dark-orange);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.section {
    width: 400px;
}

.hero_main {
    font-size: 48px;
    font-weight: 800;
    color: var(--color-orange);
    margin: 0;
}

.hero_secondary {
    font-size: 18px;
    color: var(--color-beige);
    margin: 0;
}

.signup {
    margin-top: 10px;
}

.logo_img {
    height: 300px;
    width: 500px;
    padding: 20px;
    border-radius: 50px;
}

#first {
    padding: 50px 10%;
}

#first h1 {
    font-size: 36px;
    color: var(--color-orange);
    font-weight: 900;
    margin: 0;
    padding-bottom: 25px;
    text-align: center;
}

.container2 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.info {
    font-size: 18px;
    color: var(--color-dark-orange);
    max-width: 200px;
    min-width: 200px;
}

#second {
    background-color: var(--color-bg-darker);
    padding: 50px 10%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: var(--color-beige);
    padding: 0 120px;
}

.author {
    text-align: right;
    padding-right: 150px;
    color: var(--color-dark-orange);
}

#third {
    padding: 50px 10%;
}

.container_third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-purple);
    padding: 30px 100px;
    border-radius: 8px;
    border: 2px solid var(--color-bg-purple);
}

.signup,
.signup2 {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--color-orange);
    color: var(--color-bg-dark);
    border-radius: 8px;
    padding: 8px 20px;
    border: 2px solid var(--color-orange);
}

#footer {
    background-color: var(--color-bg-darker);
    text-align: center;
    color: var(--color-orange);
    padding: 30px 0;
}